annotated-types==0.7.0
anyio==4.6.0
certifi==2024.8.30
distro==1.9.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.10
jiter==0.5.0
openai==1.46.0
pydantic==2.9.2
pydantic_core==2.23.4
pygptcalls @ git+https://github.com/fsaint/pygptcalls@c0e519efc9e4c2a7499e009713c9d4fa0f90d552
sniffio==1.3.1
tqdm==4.66.5
typing_extensions==4.12.2
